card {
  cursor: pointer;
  max-width: 40%;
  border-radius: 50px;
  border: 3px solid #ff0000;
  padding: 25px;
  position: absolute;
}

.login-form {
  max-width: 35rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.login-form input,
.login-form select,
.login-form textarea {
  padding: 0.8rem;
  border: 1px solid #f5a9a9;
  background-color: #f5a9a9;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  display: block;
  outline: none;
  font-weight: normal;
}

.register-input1 {
  box-sizing: border-box;
  width: 48%;
  float: left;
}

.register-input2 {
  box-sizing: border-box;
  width: 100%;
}

::placeholder {
  /* chạy tốt trên Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fe2e64;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* chạy trên Internet Explorer 10-11 */
  color: #fe2e64;
}

::-ms-input-placeholder {
  /* chạy trên Microsoft Edge */
  color: #fe2e64;
}

.login-form input:focus {
  border-color: #fe2e2e;
}

.login-form .forgot {
  display: inline-block;
  color: #f78181;
  font-size: 1rem;
  font-weight: 10px;
  font-size: 20px;
  margin-bottom: 1rem;
}
.button {
  text-align: center;
}

.title {
  margin-bottom: 1.5rem;
  color: #fe2e2e;
  font-size: 25px;
  font-weight: bold;
}

.login-form button {
  font-size: 25px;
  width: 60%;
  padding: 0.6rem;
  color: white;
  border: 1px solid #f5a9a9;
  background-color: #fe2e2e;
  outline: none;
  max-width: 20rem;
  border-radius: 5rem;
  margin: 0 auto;
}

.login-form .type_submit {
  text-align: center;
}

.login-form input[type="submit"] {
  display: inline-block;
}
